.filler {
    /* This fills the remaining space, by using flexbox.
        Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
}

#circle {
    height: 1.7em;
    width: 1.7em;
    cursor: pointer;
    transition: all 1s ease-in-out;
}

#searchSpan {
    position: absolute;
    top: .8em;
    right: .6em;
    z-index: 100;
}

#searchInput {
    color: white;
    fill: white;
    border-color: white;
}

div[class^="MuiInput-underline"]::before {
    border-bottom-color: white !important;
}